@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

$gray-theme: rgb(205,205,205);

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .custom-font {
        font-family: 'Smooch', cursive;
        font-weight: normal;
    }

    header {
        flex: 0.2;
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3%;

        #pfp {
            border-radius: 50%;
            background-color: blue;
            background-image: url('https://images.unsplash.com/photo-1652531121284-9f567cb1c893?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987');
            background-size: cover;
            background-position: 0;
            margin: 5% 0 2%;
        }

        #social-media-container {
            min-width: 80px;
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a {
                text-align: center;
                width: inherit;

                &:first-child {
                    text-align: right;
                }

                &:last-child {
                    text-align: left;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    nav {
        flex: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        a {
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: #000;
        }

        a:hover {
            transform: scale(1.1);
        }

        .divider {
            height: 100%;
            width: 0.1%;
            min-width: 2px;
            margin: 0 2%;
            background-color: $gray-theme;
        }

        .selected {
            text-decoration: underline;
        }
    }

    main {
        flex: 100;
        display: flex;
        flex-direction: column;

        & > div {
            &.hide {
                display: none !important;
            }
        }

        #about {
            padding: 4% 0 8%;

            section {
                display: flex;
                flex-direction: row;
                margin-bottom: 5%;
                padding: 3% 10%;

                .title-AND-paragraph-container {
                    display: flex;
                    flex-direction: column;
                    font-family: Arial, Helvetica, sans-serif;

                    p {
                        margin-top: 3%;
                        text-align: justify;
                    }
                }

                .image-container {
                    flex: auto;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            section:first-child {
                .title-AND-paragraph-container {
                    flex: 2.5;
                }

                .image-container {
                    background-image: url('https://images.unsplash.com/photo-1534216801749-bb1db8970e54?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987');
                }

                p {
                    padding-right: 10%;
                }
            }

            section:nth-child(2) {
                .title-AND-paragraph-container {
                    flex: 1.5;
                    text-align: right;
                }

                .image-container {
                    background-image: url('https://images.unsplash.com/photo-1541515929569-1771522cbaa9?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470');
                }

                p {
                    padding-left: 10%;
                }
            }

            section:last-child {
                .title-AND-paragraph-container {
                    text-align: center;
                }
            }
        }

        #mylife {
            display: flex;
            flex-direction: column;
            padding: 6% 10% 8%;

            @media screen and (max-width: 900px) {
                padding: 6% 15% 8%;
            }

            & > section {
                text-align: center;

                h2 {
                    text-align: left;
                    font-family: Arial, Helvetica, sans-serif;
                    color: $gray-theme;
                    font-weight: normal;
                    padding-bottom: 1%;
                }

                .blogs-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    min-height: 35vw;
                    width: 100%;

                    article {
                        width: 30%;
                        box-shadow: 0px 0px 28px -17px #000000;

                        div {
                            height: 60%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }

                        section {
                            padding: 0 5% 3%;

                            h3 {
                                padding: 5% 0 3%;
                            }

                            p {
                                text-align: justify;
                            }
                        }

                        a {
                            text-decoration: none;
                            text-align: center;
                        }
                    }

                    @media screen and (max-width: 900px) {
                        align-items: center;
                        flex-direction: column;

                        article {
                            height: 80vw;
                            width: 100%;

                            section h3 {
                                padding: 3% 0 1%;
                            }
                        }

                        article:nth-child(2) {
                            margin: 10% 0;
                        }
                    }
                }

                & > img {
                    cursor: pointer;
                    margin-top: 2%;
                    width: 10%;
                    min-width: 70px;
                    transform: rotate(90deg);
                }
            }
        }
    }

    footer {
        flex: auto;
        background-color: #f2f0eb;
        text-align: center;
        padding: 3% 10%;
        font-family: Arial, Helvetica, sans-serif;

        p {
            padding: 0 5%;
            color: #a59f91;
        }

        a {
            text-decoration: none;
            color: #50a0fd;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}